<div class ="new-event-image"> </div>
    <div class = "new-event-wrapper">
      <div class ="new-event-form"> 

<%= form_with(model: event, local: true) do |form| %>
  
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class = "new-event-title">New Event</h1>
  <p class="back-link">
  <%= link_to 'Back', events_path %>
  </p>


  <div class="new-event-name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

    <div class="new-event-image-upload">
    <p>Upload an Event Image:</p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>


  <div class="new-event-start-time">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="new-event-end-time">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="new-event-actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
</div>