
<div class ="show-event-container">
	<p id="notice"><%= notice %></p>

	<div class ="event-image-container">
    <%= image_tag show_event_image(@event), class: "bot-user-pic-feed" %>
    </div>

    <div class = "show-event-words-box">
	<p>
	  <strong>Name:</strong>
	  <%= @event.name %>
	</p>

	<p>
	  <strong>Start time:</strong>
	  <%= @event.start_time %>
	</p>

	<p>
	  <strong>End time:</strong>
	  <%= @event.end_time %>
	</p>

	<p>
	<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>

	<%= link_to 'Edit', edit_event_path(@event) %> |
	<%= link_to 'Back', events_path %>

	<%= link_to events_path(:event_id => @event.id), class: "course-btn" do %><i class="fa fa-calendar-plus-o"></i> Book This Event<% end %> 

	<div class= "booking-button">
		<% if current_user.bookings.include?(booking.id) %>
                <%= link_to "Booked", your_profile_path(id: current_user.id), class: "btn btn-primary", id: "booked_btn" %>
              <% else %>
                  <%= link_to "Book", your_profile_path(id: current_user.id), class: "btn btn-primary" %>
                
              <% end %>
		</div>	

	<div>
</div>